/* RESET CSS DEFAULT */
nav,
ul,
li,
header,
footer,
h1,
h2,
h3,
p,
button,
a,
figure,
section{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    color: #1D252C;
    box-sizing: border-box;
}


/* CSS DEFAULT BY ALL SITE */
body{
    max-width: 1440px;
    margin: 0 auto;
    background-color:rgba(255, 255, 255, .9)
}

main{
    background: #fff;
}

main.fixed{
    margin-top: 75px;
}

button,
.button{
    background: #56B280;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20.6452px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    padding: 8px 0;
    cursor: pointer;
    transition:.3s ease;
}
button:hover,
.button:hover,
button:focus,
.button:focus,
button:active,
.button:active{
    opacity: 0.8;
}


.container{
    max-width: 1110px;
    margin: 0 auto;
}

@media(min-width: 1025px) and (max-width: 1150px){
    .container{
        padding: 0 30px;
    }
}
@media(max-width: 1024px){
    .container{
        padding: 0 24px;
    }
}


.section-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.9px;
    color: #0B254B;
}

.section-description{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #5E6E89;
}

/* HEADER */
.header{
    background: #fff;
    margin: 0 auto;
    max-width: 1440px;
    height: 75px;
    width: 100%;
    border-bottom: 0.5px solid rgba(86, 178, 128, 0.2);
}

.header-fixed {
    position: fixed;
    top:0;
    z-index: 1; 
}

.header .header-menu-mobile{
    display: none;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.header-menu{
    display: flex;
    gap:60px;
}

.header-menu li a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #272727;
    cursor: pointer;
    transition:.3s ease;

}

.header-menu li a:hover,
.header-menu li a:focus,
.header-menu li a:active{
    color: #56B280;
}

.profile-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.menu-home-item1 a::after{
    content: url(./imagens/arrow-down.png);
    width: 10px;
    height: 10px;
    margin-left: 10px;
}


/* BANNER */
.hero{
    height: 780px;
    position: relative;
}
.hero picture{
    position: absolute;
}
.hero .hero-box{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(247, 248, 250, 0.8);
    backdrop-filter: blur(24px);
    border-radius: 2px;
    width: 730px;
    height: 349px;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hero .hero-box h1,
.hero .hero-box p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    color: #1D252C;
}

.hero .hero-box i {
    font-size: 60px;
}

.hero .hero-box h1{
    font-weight: 500;
    font-size: 40px;
    line-height: 58px;

}

.hero .hero-box p{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    padding: 10px 20px 0 0; 
}

.hero .hero-box .button{
    width: 310px;
    margin-top: 53px;
}


/* GALERIA DE PRODUTOS */
.products-popular{
    padding-bottom: 70px;
}
.products-gallery-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.products-gallery-content button{
    display: none;
}

.products-gallery-content .section-title{
    padding-top: 90px;
}
.products-gallery-content .section-description{
    padding-top: 15px;
}

.products-gallery-content .gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 30px 14px;
    padding-top: 50px;
}

/* CARD DE PRODUTO */
.products-gallery-content .card{
    width: 100%;
    height: 230px;
    cursor: pointer;
    box-shadow :0px 4px 24px rgba(123, 123, 123, 0.15);
    transition:.3s ease;
}

.products-gallery-content .card:hover,
.products-gallery-content .card:focus,
.products-gallery-content .card:active{
    margin-top: -15px;
    box-shadow :0px 4px 24px rgba(123, 123, 123, 0.35);
}

.products-gallery-content figure{
    background-color: #F7F8FA;
    height: 154px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products-gallery-content img{
    height: 100%;
}

.products-gallery-content .card-description{
    height: 76px;
    padding: 10px 26px 16px 26px;
}

.products-gallery-content .name{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.9px;
    color: #1D293F;
}

.products-gallery-content .price{
    text-align: right;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #56B280;
}


/* PRODUTO DESCRIÇÃO */
.product-description{
    margin-top: 125px;
    height: 800px;
    background: #F7F8FA;
}

.product-description-content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 133px;
}

.product-description-content .right h2,
.product-description-content .right p{
        display: none;
}

.product-description-content .section-title{
    width: 350px;
    text-align: left;
}

.product-description-content p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #56B280;
    padding-top: 15px;
}
.product-description-content ul{
    padding-top: 38px;
}
.product-description-content li{
    list-style: inside url(./imagens/check.png);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    color: #000000;
    padding-bottom: 10px;
}

.product-description-content li span{
    font-weight: 600;
    margin-left: 10px;
}

.product-description-content button{
    width: 194px;
    margin-top: 68px;
}

/* testimonials */
.testimonials{
    height: 601px;
    background: rgba(86, 178, 128, 0.1);
}

.testimonials-content{
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonials-content .gallery{
    display: grid;
    grid-template-columns: repeat(3, 1FR);
    gap: 31px;
    width: 100%;
    padding-top: 27px;
}

.testimonials-content .card{
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(139, 167, 178, 0.16);
    border-radius: 6px;
    width: 100%;
    height: 295px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 33px 18px 29px 18px;
}

.testimonials-content .review{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.testimonials-content .profile{
    width: 84px;
}

.testimonials-content h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    color: #1D293F;
    padding-top: 22px;
}

.testimonials-content h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #7C8087;
}

/* FOOTER */
.footer-menus{
    background-color: #272727;
    height: 383px;
    padding-top: 60px;
}

.footer-menus .footer-menus-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #FFFFFF;
}

.footer-menus .logo-content p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    width: 250px;
}
.footer-menus .footer-menu{
    display: flex;
    align-items: flex-start;
    padding-top: 40px;
    padding-right: 30px;
}
.footer-menus .menu-item{
    width: 160px;
}

.footer-menus ul{
    padding-top: 24px;
}

.footer-menus li{
    padding-bottom: 19px;
}

.footer-menus h3,
.footer-menus a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    color: #56B280;
}

.footer-menus a{
    color: #E1E1E1;
    transition:.3s ease;
}

.footer-menus a:hover,
.footer-menus a:focus,
.footer-menus a:active{
    color: #56B280;
}

.footer-credits{
    background-color: #FFFFFF;
   
}

.footer-credits .footer-credits-content{
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.footer-credits p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #5E6E89;
}

.quantity-selector{
    border: 1px solid #56B280;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.quantity-selector button,
.quantity-selector span{
    background-color: transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.9px;
    color: #56B280;
    height: auto;
    padding: 0;
}

.quantity-selector button.prev{
    color: #818181;   
}

.quantity-selector span{
    padding: 0 15px;
}
.my-cart{
    position: relative;
}

.my-cart::after{
    content: "1";
    position: absolute;
    top: -5px;
    background-color: #56B280;
    color: #fff;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    right: -10px;
    font-weight: 800;
}

.menu-mobile-container{
    display: none;
}

/* MOBILE */

@media(max-width:1024px){
    /* FOOTER */
    .footer-menus{
        padding-top: 31px;
        height: auto;
        padding-bottom: 85px;
    }

    .footer-menus .logo-content img{
        width: 150px;
    }

    .footer-menus ul{
        padding-top: 20px;
    }

    .footer-menus .footer-menus-content{
        flex-direction: column;
        align-items: start;
        padding-top: 24px;
    }
    .footer-menus .logo-content p{
        width: 100%;
    }
    .footer-menus .footer-menu{
        padding-right: 0;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px 0;
        width: 100%;
    }

    .footer-menu .menu-item:nth-child(1){
        order: 1;
    }

    .footer-menu .menu-item:nth-child(2){
        order: 3;
    }

    .footer-menu .menu-item:nth-child(3){
        order: 2;
    }


    .footer-credits .footer-credits-content{
        flex-direction: column;
        padding: 20px;
        height: auto;
    }

    .product-description{
        height: auto;
    }

    .product-description-content{
        flex-direction: column-reverse;
        align-items: center;
    }

    .products-gallery-content .gallery{
        grid-template-columns: repeat(1, 1fr);
    }
    .testimonials{
        height: auto;
    }

    .testimonials .container{
        padding: 0;
    }

    .testimonials-content .section-title,
    .testimonials-content .section-description{
        padding: 0 24px;
    }

    .testimonials-content .gallery{
        overflow: scroll;
        padding: 47px 10px 120px 10px
    }

    .testimonials-content h3{
        width: 230px;
        font-size: 19px;
        line-height: 25px;
    }

    .product-description-content{
        padding-bottom: 45px;
    }
    .product-description-content .left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .product-description-content .left h2,
    .product-description-content .left p{
        display: none;
    }

    .product-description-content .right h2,
    .product-description-content .right p{
        display: block;
        width: 100%;
        text-align: center;
    }

    .product-description-content .right img{
        width: 100%;
    }

    .product-description-content ul{
        padding-top: 0;
    }

    .hero picture,
    .hero img{
        width: 100% ;
    }
    .hero .hero-box{
        width: 90%;
        height: auto;
    }

    .hero .hero-box h1{
        text-align: center;
    }

    .hero .hero-box p{
        padding: 10px 0;
    }

    .products-gallery-content .card-link{
        display: none;
    }

    .products-gallery-content button{
        display: block;
        width: 176px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .header .header-menu-desktop{
        display: none;
    }

    .header .header-menu-mobile{
        display: block;
        width: 30px;
        position: relative;
    }

    .menu-mobile{
        position: absolute;
        background-color: #fff;
        z-index: 1;
        left: 0;
        width: 100%;
        top: 75px;
        display: none;
    }

    .menu-mobile.open{
        display: block;
    }

    .menu-mobile ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px 0 20px 50px;
    }

    .menu-mobile ul li a{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        align-items: center;
        color: #272727;
    }

    .menu-item-mobile{
        margin-left: 20px;
    }
    .header .header-menu-mobile::after{
        content: url(./imagens/hamburger-menu.png);
    }
    
    .header .header-menu-mobile.open::after{
        content: url(./imagens/close-menu.png);
    }

    .menu-home-item1 a::after{
        content: none;
    }
    .menu-home-item1 a::before {
        content: url(./imagens/arrow-down.png);
        width: auto;
        height: auto;
        margin-right: 10px;
    }

    .menu-mobile-container{
        display: block;
    }
}